#wrap {
    /* max-width: 1920px; */
    width: 100%;
    background-color: #FFFFFF;
    color: #1d1e1e;
    overflow-x: hidden;
}

header, section, footer {
    /* width: 100%; */
    margin: 0 auto;
}

/* section, footer {
    max-width: 1920px;
} */